ul {
    @include flexible(space-between);
    @include fontLogo;

    & a {
        font-weight: $fontWeigth;
    }

    & li:first-child a {
        color: $colorPrimary;
    }
}

@media (max-width: 650px) {
    ul {
        font-size: 0.9rem;
    }
}