header {
    @include flexible(space-between);
    padding: 49px 6.1%; 
}

@media (max-width: 1160px) {
    header {
        padding-left: 7.2%;
        padding-right: 7.2%;
    }
}

@media (max-width: 650px) {
    header {
        padding-left: 3.8%;
        padding-right: 3.8%;
    }
}